@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Italianno&family=Kanit:ital,wght@1,200&family=Montserrat:ital,wght@0,300;1,200&family=Open+Sans:wght@300&family=Oswald:wght@300&family=PT+Serif:ital@1&family=Playfair+Display&family=Poppins:ital,wght@0,500;0,700;1,200&family=Zen+Kaku+Gothic+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Italianno&family=Kanit:ital,wght@1,200&family=Montserrat:ital,wght@0,300;1,200&family=Open+Sans:wght@300&family=Oswald:wght@300&family=PT+Serif:ital@1&family=Playfair+Display&family=Poppins:ital,wght@0,300;0,500;0,700;1,200&family=Zen+Kaku+Gothic+Antique&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  font-family: 'Mukta', sans-serif;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #06227e;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #06227e;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.enlacesul {
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.enlacesul .men {
  list-style: none;
}

.enlacesul .men .btn-header {
  position: relative;
  display: block;
  margin: 100px 0;
  padding: 10px;
  text-decoration: none;
  color: #242525;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 1;
}

.enlacesul .men .btn-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #051570;
  border-bottom: 2px solid #051570;
  -webkit-transform: scaleY(2);
          transform: scaleY(2);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.enlacesul .men .btn-header:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5276c3;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
}

.enlacesul .men .btn-header:hover {
  color: #fff;
}

.enlacesul .men .btn-header:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.enlacesul .men .btn-header:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

:root {
  --color1: #4ccee8;
  --color2: rgba(29, 241, 171, .6);
  --color3: rgba(7, 109, 150, .45);
  --fondo:#f2f2f2;
  --titulos:33px;
  --margenes:60px;
  --espacios:10px;
  --espacios-contenido:45px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--fondo);
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area .boxin {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: #a2d0e4;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
  bottom: -150px;
}

.box-area .boxin:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.box-area .boxin:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.box-area .boxin:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

.box-area .boxin:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

.box-area .boxin:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.box-area .boxin:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

img {
  vertical-align: top;
}

/*header*/
header {
  width: 100%;
  height: 650px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(106, 187, 241, 0.6)), color-stop(rgba(49, 217, 247, 0.6)), to(rgba(7, 109, 150, 0.45))), url(img/samson-ZGjbiukp_-A-unsplash.jpg);
  background: linear-gradient(to bottom, rgba(106, 187, 241, 0.6), rgba(49, 217, 247, 0.6), rgba(7, 109, 150, 0.45)), url(img/samson-ZGjbiukp_-A-unsplash.jpg);
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

nav {
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.nav1 {
  background: transparent;
  height: 80px;
  color: #fff;
}

.nav2 {
  background: var(--fondo);
  height: 100px;
  color: #000;
}

.contenedor-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  height: inherit;
  overflow: hidden;
}

.logo {
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 0;
  right: 75%;
  padding: 20px;
  font-weight: bold;
  -webkit-animation: arriba .8s ease-in;
          animation: arriba .8s ease-in;
  text-decoration: none;
}

.p {
  color: #08484d;
  letter-spacing: 2px;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

.ion-icon {
  color: #2b57d1;
  width: 50px;
  font-size: 1.9rem;
}

.nav-bandera ul {
  list-style: none;
}

.menu-bandera > li {
  position: absolute;
  margin-bottom: 10px;
  left: 45%;
}

.menu-bandera li a:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sub-bandera {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  margin: 0%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.sub-bandera li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
}

.sub-bandera li a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.menu-bandera li:hover .sub-bandera {
  visibility: visible;
  opacity: 1;
}

.logo, .logo img {
  height: 80px;
}

.iconn {
  text-decoration: none;
}

.containerr {
  width: 95%;
  position: relative;
  top: 150px;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.imgg {
  display: block;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  -webkit-animation: arriba 2s ease-in;
          animation: arriba 2s ease-in;
}

.imgg {
  -webkit-animation: movimiento 2.5s linear infinite;
          animation: movimiento 2.5s linear infinite;
}

.textos {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}

.text {
  text-decoration: none;
  color: #fdfdfd;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 98, 190, 0.5)), to(rgba(5, 7, 12, 0.5)));
  background: linear-gradient(rgba(37, 98, 190, 0.5), rgba(5, 7, 12, 0.5));
}

.textos a {
  border-radius: 5px;
  border: 1px solid #fff;
  margin-top: 30px;
  width: 120px;
  padding: 10px 0;
  -webkit-animation: arriba 2s ease-in;
          animation: arriba 2s ease-in;
}

.ion {
  position: fixed;
  right: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 41, 44, 0.1)), to(rgba(5, 7, 12, 0.1)));
  background: linear-gradient(rgba(39, 41, 44, 0.1), rgba(5, 7, 12, 0.1));
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.wave {
  height: 100px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(106, 187, 241, 0.6)), color-stop(rgba(49, 217, 247, 0.6)), to(rgba(7, 109, 150, 0.45))), url(img/samson-ZGjbiukp_-A-unsplash.jpg);
  background: linear-gradient(to bottom, rgba(106, 187, 241, 0.6), rgba(49, 217, 247, 0.6), rgba(7, 109, 150, 0.45)), url(img/samson-ZGjbiukp_-A-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1 {
  text-shadow: 1px 1px 2px #110f0f;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation: aparecer 2s ease-in;
          animation: aparecer 2s ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

h2 {
  -webkit-animation: moverizquierda 2s ease-in;
          animation: moverizquierda 2s ease-in;
}

.textos > h1 {
  font-size: 80px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.textos > h2 {
  font-size: 30px;
  font-weight: 200;
  color: #f5f9fa;
  font-style: italic;
}

/*main*/
.contenedor {
  margin: auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}

.contenedor h3 {
  font-size: var(--titulos);
  color: var(--color1);
  margin-bottom: var(--espacios);
}

.contenedor p {
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color1);
}

.after::after {
  content: '';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 100px;
  height: 2px;
  background: var(--color1);
  margin-bottom: var(--espacios-contenido);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-card {
  width: 31%;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 400px;
}

.content-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.people {
  height: 80%;
}

.texto-team {
  height: 20%;
  width: 100%;
  padding: var(--espacios) 0;
}

/*cursos*/
.caja {
  margin: 5em auto;
  width: 350px;
  padding: 1em;
  background: rgba(109, 198, 233, 0.671);
  border: 1px solid #ddd;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  margin: .2em 0;
}

.day {
  text-align: right;
  padding: .3em .5em;
  list-style: none;
  cursor: pointer;
  color: #444;
}

.day:hover {
  color: #07072e;
  background: rgba(236, 230, 230, 0.445);
}

.day-name {
  background: #62a6d1;
  text-align: center;
  font-weight: 700;
}

.first-day {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.calendar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.about {
  background: coral;
  height: auto;
}

.buton1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: 50px;
  font-weight: bold;
  background: #91c4e6;
  color: #fffefe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.buton1 span {
  position: absolute;
  -webkit-transition: .4s ease-in-out all;
  transition: .4s ease-in-out all;
  left: 25%;
}

.buton1 .icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  left: -35px;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
  opacity: 0;
}

.buton1 svg {
  width: 25px;
  height: 25px;
  color: #fff;
}

.buton1:hover {
  background: dodgerblue;
}

.buton1:hover .icono {
  left: 160px;
  opacity: 1;
}

.buton1:hover span {
  left: 10px;
}

.ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ul2 .li2 {
  list-style: none;
}

.ul2 .li2 .a2 {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin: 0 30px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #4b9deb;
  z-index: 1;
}

.ul2 .li2 .a2 .icon {
  position: relative;
  color: #262626;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 3;
}

.ul2 .li2 .a2:hover .icon {
  color: #fff;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.ul2 .li2 .a2:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
}

.ul2 .li2 .a2:hover:before {
  top: 0;
}

.ul2 .li2:nth-child(1) a:before {
  background: #3b5999;
}

.ul2 .li2:nth-child(2) a:before {
  background: #55acee;
}

.ul2 .li2:nth-child(3) a:before {
  background: #0077b5;
}

.botones-work {
  overflow: hidden;
  display: inline-block;
  text-align: center;
  margin-left: var(--espacios);
  margin-bottom: var(--espacios-contenido);
  padding: 6px 12px;
  list-style: none;
  color: var(--color1);
}

.active {
  cursor: pointer;
  position: relative;
  padding: 20px 20px;
  background: white;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.active:after, .active:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.active:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid var(--color1);
  border-left: 5px solid var(--color1);
}

.active:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid var(--color1);
  border-right: 5px solid var(--color1);
}

.active:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.active:hover:before, .active:hover:after {
  width: 100%;
  height: 100%;
}

.galeria-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.galeria-work .cont-work {
  width: 31%;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  height: 300px;
  overflow: hidden;
  margin-bottom: var(--espacios-contenido);
}

.img-work {
  height: 90%;
  width: 100%;
}

.img-work img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.textos-work {
  height: 10%;
}

.textos-work h4 {
  line-height: 30px;
  font-weight: 300;
}

/*footer*/
.footter {
  position: relative;
  background: lightblue;
  padding: 90px 0 40px;
  height: 650px;
}

.footter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background: var(--fondo);
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.footer-contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  place-items: center;
  margin-bottom: 30px;
}

.footer-texts {
  text-align: left;
  -ms-grid-column-align: left;
      justify-self: left;
}

.p2 {
  margin: 20px 0;
  font-weight: 300;
}

.footer-picture {
  margin: 0;
}

.footer-social {
  padding-top: 20px;
  border-top: 1px solid #918484;
  text-align: center;
}

@-webkit-keyframes moverizquierda {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moverizquierda {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes arriba {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes arriba {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes movimiento {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes movimiento {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .imgg {
    width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .imgg {
    width: 370px;
  }
  .textos h1 {
    font-size: 60px;
  }
  .textos h2 {
    font-size: 35px;
  }
  .iconn {
    width: 30px;
  }
  .texto a {
    padding: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .imgg {
    width: 250px;
  }
  .textos h1 {
    font-size: 50px;
  }
  .textos h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .containerr {
    width: 100%;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .imgg {
    height: 250px;
  }
  .textos {
    width: 100%;
    text-align: center;
  }
  .textos h1 {
    font-size: 30px;
  }
  .textos h2 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=estilos.css.map */